doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Liferay 7 Front-end development

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h3 Liferay 7
        h1 Front-end development
        p Pier Paolo Ramon
        p: small Twitter #[strong @_pier]
        p: small GitHub #[strong @yuchi]

      section
        h2 In this package
        ul
          li(hidden)
          li #[strong Making Liferay A Place for Modern Web Developers] di C. Balsas
          li #[strong Building Themes in Liferay 7] di N. Cavanaugh

      section
        ul
          li(hidden)
          li La direzione intrapresa
          li I cambiamenti che affronteremo

      section
        h2 Perchè?

      section(data-bespoke-backdrop="bnf")
        h3 davanti a voi un nuovo progetto
        .backdrop-info
          p La "BnF - Bibliothèque nationale de France", Parigi
          p Foto di #[strong Mirco Danieli], Sistemista Applicativo

      section(data-bespoke-backdrop="elysees")
        h3 un panorama complesso
        .backdrop-info
          p Elysées La Défense, Parigi
          p Foto di #[strong Mirco Danieli], Sistemista Applicativo

      section
        .bullet(hidden)
        .bullet
          h4 Paradigmi
          p MVC &mdash; MVVP &mdash; Reactive &mdash; &#8230;
        .bullet
          h4 Frameworks
          p Angular &mdash; Ember &mdash; React &mdash; &#8230;
        .bullet
          h4 Linguaggi
          p JavaScript &mdash; TypeScript &mdash; CoffeeScript &mdash; &#8230;

      section(data-bespoke-backdrop="hungary-developed-identity low")
        h3 la scelta nelle nostre mani
        .backdrop-info
          p Szilárd Cseke, Sustainable Identities, 2015
          p Foto di #[strong Paolo Valeri], Direttore Tecnico

      //section
        ul
          li.no-bullet: strong Soy Templates
          li.no-bullet: strong Google Closure Templates
          li.no-bullet Freemarker
          li.no-bullet Velocity
          li.no-bullet JSP
          li.no-bullet JSF
          li.no-bullet &#8230;

      //section
        ul
          li.no-bullet: strong Less
          li.no-bullet: strong Stylus
          li.no-bullet: strong Auto-prefixer
          li.no-bullet: strong Post-css
          li.no-bullet SASS (SCSS)
          li.no-bullet &#8230;

      section(data-bespoke-backdrop="spiderman")
        h3 da grandi poteri&#8230;
        .backdrop-info
          p Spiderman
          p &copy; Marvel

      section
        h3 I buoni
        h1 propositi
        h3 di Liferay 7

      section(data-bespoke-backdrop="frameworks repeat")
        h2 I. Frameworks

    script(src='build/build.js')
